@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Poppins:wght@200;300&family=Quicksand&display=swap");

body {
  font-family: Nunito;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  margin-top: 40px;
  color: #ff5a00;
  text-align: center;
}

.form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: bold;
}

input {
  font-family: Nunito;
  margin: 5px auto;
  margin-left: 100px;
  text-align: center;
  font-size: 17px;
  border-radius: 8px;
  border: 1px solid #ff5a00;
}

table {
  visibility: hidden;
  border-collapse: collapse;
  margin-bottom: 50px;
}

#username:focus {
  outline: none;
  border:1px solid #ff5a00;
  box-shadow: 0 0 7px #ff5a00;
}

.input, 
label {
  margin: 0 auto;
  text-align: center;
}

#placeholder {
  margin: 30px 0;
}

#placeholder span {
  font-weight: bold;
}

#getList {
  height: 27px;
  width: 90px;
  margin-left: 5px;
  cursor: pointer;
  background-color: inherit;
  background-position: 100% 0;
  background-size: 300%;
  transition: 0.4s;
  color: #ff5a00;
  border-radius: 8px;
  border: 1px solid #ff5a00;
  font-size: 15px;
  text-transform: uppercase;
  background-image: linear-gradient(45deg, #ff5a00 50%, transparent 50%);
}

#getList:hover {
  background-position: 0 100%;
  color: #fff;
}

#repoStars {
  font-size: 19px;
  color: #ff5a00;
}

#repoLang {
  visibility: hidden;
  font-size: 18px;
}

#thead::after
{
  content: "";
  display: block;
  height: .5em;
}

td {
  min-width: 150px;
  text-align: center;
  padding: 5px;
}

tr {
  border-bottom: 1px solid black;
}

#thead tr {
  border-bottom: none;
}